{% extends "base.html" %} {% block content %}
<h1>{{ blog.title }}</h1>

<p><strong>Post Date and Time:</strong> {{ blog.pub_date_time }}</p>
<p><strong>Author:</strong> <a href="{# url 'author-detail' book.author.pk #}">{{ blog.author }}</a></p>
<!-- author detail link not yet defined -->
<p><strong>Description:</strong><br> {{ blog.content }}</p>
{% if perms.catalog.can_mark_returned %}
<a href="{# url 'book_delete' book.id #}">Delete Blog</a> {% endif %}
<div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>
    <hr> {% for comment in blog.comment_set.all %}
    <hr>
    <p><strong>{{ comment.author }}</strong> {{ comment.pub_date_time }} - {{ comment.text }}</p>
    {% endfor %}
    <a href=""> Add Comment </a>
</div>
{% endblock %}